name: release

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: "Version to set (e.g., 1.2.3)"
        required: true

permissions:
  contents: write
  id-token: write

jobs:
  release:
    if: ${{ github.repository_owner == 'Barrzen' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    environment: crates-io
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Cache cargo
        uses: Swatinem/rust-cache@v2
      - name: Install release-plz CLI
        run: cargo install release-plz --locked
      - name: Set version
        run: release-plz set-version ${{ inputs.release_version }}
      - name: Run release-plz (release)
        uses: release-plz/action@v0.5
        with:
          command: release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN || secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
